<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login & Registration</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li class="message">{{message}}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <div class="container">
        <div class="register">
            <h1>Registration</h1>
            <form action="register/" method="POST">
                {% csrf_token %}
                <label>First Name: <input type="text" name='first_name'></label>
                <label>Last Name: <input type="text" name='last_name'></label>
                <label>Email Address: <input type="email" name='email_address'></label>
                <label>Password: <input type="password" name='password'></label>
                <label>Confirm Password: <input type="password" name='confirm_password'></label>
                <input type="submit" value="Register">
            </form>
        </div>
        <div class="login">
            <h1>Login</h1>
            <form action="login/" method="POST">
                {% csrf_token %}
                <label>Email Address: <input type="email" name='email_address'></label>
                <label>Password <input type="password" name="password" id="password"></label>
                <input type="submit" value="Log In">
            </form>
        </div>
    </div>
</body>
</html>